.Marketplace-container {
    width: 100%;
    margin-top:50px;
    display: flex;
    justify-content: center;
}

.Marketplace {
    width: 96%;
    background: transparent;
    padding: 2em 0em;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 1.7rem;
    list-style-type: none;
}